<?xml version="1.0" encoding="UTF-8"?>

<suite name="TestNG openCart Suite" verbose="3" parallel="tests"
	thread-count="3">
	<listeners>
		<listener
			class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
		<listener
			class-name="com.qa.opencart.listeners.TestAllureListener" />
		<listener
			class-name="com.qa.opencart.listeners.AnnotationTransformer" />
	</listeners>

	<test name="Login page Test_chrome">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>
	</test>
	<test name="ProductInfoPage Test _firefox">
		<parameter name="browser" value="firefox" />

		<classes>
			<class name="com.qa.opencart.tests.ProductInfoPageTest" />
		</classes>
	</test>
	<test name="Login page Test_edge">
		<parameter name="browser" value="edge" />
		<classes>
			<class name="com.qa.opencart.tests.LoginPageTest" />
		</classes>
	</test>
</suite>


	